html,
body {
  min-height: 100vh;
  background-color: hsl(206deg 15% 81% / 61%);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: left;
  width: 100%;
  background-color: #1a1a1a;
}

nav {
  display: flex;
  flex: auto;
}

footer {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  bottom: 0%;
  background-color: #1a1a1a;
}

main {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
}

footer * {
  display: flex;
  color: white;
  padding: 10px 30px 10px 30px;
}

.image {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-left: 10px;
}

.nav-item {
  padding: 15px 30px 15px 30px;
  font-size: larger;
  color: white;
}

.nav-item:hover {
  background-color: #036622;
}

.nav-item-right {
  margin-left: auto;
}

.mailTo:hover {
  color: #4b72ff
}

.under-construction {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.feed {
  display: flex;
  flex-direction: column;
  padding: 9px;
  margin: 10px auto 10px auto;
}

.feed-title {
  margin: auto;
  margin-bottom: 15px;
  font-style: oblique;
  text-decoration: underline;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 10px;
  margin: 10px;
  border: 3px solid #585555;
  border-radius: 5px;
  background-color: #e5c47c66;
}

.post > * {
  margin: auto;
  padding: 10px;
}

.post img {
  border: 5px solid #8d8577 !important;
}

.post-description {
  border: 2px solid;
  border-radius: 5px;
  border-style: hidden;
  background-color: #93af9c;
  font-weight: 500;
}
